body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: 20px;
}

.game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

img:hover {
    opacity: 0.8;
}

.restart {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.restart:hover {
    background-color: #0056b3;
}